.content 
{
    background-color:darkgray;
    width:100%;
/*    height:700px;*/
}

.content .gallery-picture
{
    float:left;
    display: inline-block;
/*    background-color: green;*/
    width:100%;
/*    margin-top: 300px;*/
}

.content .gallery-picture .picture
{
    height:500px;
    width:500px;
    float:left;
    margin:auto;
    display: inline-block;
}